/* fonts */

div.jqcloud {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 10px;
  line-height: normal;
}

div.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}

div.jqcloud span.w10 { font-size: 550%; }
div.jqcloud span.w9 { font-size: 500%; }
div.jqcloud span.w8 { font-size: 450%; }
div.jqcloud span.w7 { font-size: 400%; }
div.jqcloud span.w6 { font-size: 350%; }
div.jqcloud span.w5 { font-size: 300%; }
div.jqcloud span.w4 { font-size: 250%; }
div.jqcloud span.w3 { font-size: 200%; }
div.jqcloud span.w2 { font-size: 150%; }
div.jqcloud span.w1 { font-size: 100%; }

/* colors */

div.jqcloud { color: #333; }
div.jqcloud a { color: inherit; }
div.jqcloud a:hover { color: #111; }
div.jqcloud a:hover { color: #222; }
div.jqcloud span.w10 { color: #3a539b; }
div.jqcloud span.w9 { color: #0f4880; }
div.jqcloud span.w8 { color: #3377db; }
div.jqcloud span.w7 { color: #008080; }
div.jqcloud span.w6 { color: #0f4880; }
div.jqcloud span.w5 { color: #004055; }
div.jqcloud span.w4 { color: #008080; }
div.jqcloud span.w3 { color: #3377db; }
div.jqcloud span.w2 { color: #3a539b; }
div.jqcloud span.w1 { color: #3a539b; }


div.jqcloud span.w10.usability { color: #802200; }
div.jqcloud span.w9.usability { color: #ff4500; }
div.jqcloud span.w8.usability { color: #e65722; }
div.jqcloud span.w7.usability { color: #ff4500; }
div.jqcloud span.w6.usability { color: #802200; }
div.jqcloud span.w5.usability { color: #90a0dd; }
div.jqcloud span.w4.usability { color: #e65722; }
div.jqcloud span.w3.usability { color: #802200; }
div.jqcloud span.w2.usability { color: #ff4500; }
div.jqcloud span.w1.usability { color: #e65722; }

/* layout */

div.jqcloud {
  overflow: hidden;
  position: relative;
}

div.jqcloud span { padding: 0; }

